{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Person</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <header>
        <button>Back</button>
        <div>
            <img src="{% static 'app/face.png' %}" alt="Person's Face">
            <p>{{user.username}}</p>
        </div>
        <p class="name-of-sender">Me: {{me.username}}</p>
    </header>

    <main id="messages-area">

        
        {% for message in messages %}
            
            {% if message.sender == me %}

            <section class="to">
    
                <div class="details">
                    <p>{{message.date}}</p>
                    {% if message.has_been_seen %}

                        <div class="status seen"></div> 
                        {% else %}
                        <div class="status">
                            
                        </div>
                    {% endif %}
                    <div class="status">
                        <div></div><div></div>
                    </div>
                    <p>{{message.time}}</p>
                </div>
                <div class="message">
                    <p style="overflow-wrap: anywhere;">{{message.messages}}</p>
                    
                    
                        
                </div>
            </section>

            {% elif message.sender == user %}
             
            <section class="from">
                <div class="details">
                    <p>{{message.date}}</p>
                    <p>{{message.time}}</p>
                </div>
                <div class="message">
                    <p style="overflow-wrap: anywhere;">{{message.messages}}</p>
                </div>
            </section>
                
            {% endif %}
                
        {% endfor %}
            

    </main>

    <footer>
        <textarea name="text" id="the-message-to-send" style="resize: none;" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"></textarea>
        <button id="send-message-button">Send</button>
    </footer>



    <script>
        const user_id = {{ user.id }};
        
        const url = `ws://localhost:8000/websocket/${user_id}/`;
        const chat_websocket = new WebSocket(url);

        const message_area = document.getElementById('messages-area');

        const message = document.getElementById('the-message-to-send');
        const send_button = document.getElementById('send-message-button');
        send_button.addEventListener('click', function() {
            chat_websocket.send(`{ "type": "message",  "message": "${message.value}" }`);

            message_area.insertAdjacentHTML('beforeend', `
                <section class="to">
                    <div class="details">
                        <p>${new Date().toISOString().split('T')[0]}</p>
                        <div class="status">
                            <div></div><div></div>
                        </div>
                        <p>${new Date().toISOString().split('T')[1].split('.')[0]}</p>
                    </div>
                    <div class="message">
                        <p style="overflow-wrap: anywhere;">${message.value}</p>
                    </div>
                </section>
            `);
            
            message.value = "";
        });



        chat_websocket.onmessage = function(event) {
            const received_message = JSON.parse(event.data);

            if (received_message.type_of_data == "message") {
                message_area.insertAdjacentHTML('beforeend', `
                    <section class="from">
                        <div class="details">
                            <p>${new Date().toISOString().split('T')[0]}</p>
                            <p>${new Date().toISOString().split('T')[1].split('.')[0]}</p>
                        </div>
                        <div class="message">
                            <p style="overflow-wrap: anywhere;">${received_message.message}</p>
                        </div>
                    </section>
                `)

                chat_websocket.send(`{ "type": "message_seen" }`);
            }
            else if(received_message.type_of_data == 'seen') {
                const my_message = document.getElementsByClassName('status');

                for( let i = 0; i < my_message.length; i++ ) {
                    my_message[i].classList.add('seen')
                
                }
            } 
        }

    </script>
</body>
</html>
